## Merging dataframes 
-------
    merge() is a method in pandas in which you can merge two dataframes withou repeating columns as we did in
    concat() method.
    There are two types of merging -
       1) Inner join
       2) outer join
 ### 1) Inner join
    In this method you will get the intersetion of two dataframes with merged column.It is the default merge method.
    In merge() method you have to pass the dataframes as arguments and list of columns on which you want to merge
    and dataframes as arguments.

In [1]:
import pandas as pd

In [2]:
temp1={
      "date":['01-02-12','03-02-12','04-02-12','05-02-12'],
      "event":['sunny','cold','cold','rainy'],
      "temp":[14,16,15,10]
}
temp=pd.DataFrame(temp1)
temp

       date  event  temp
0  01-02-12  sunny    14
1  03-02-12   cold    16
2  04-02-12   cold    15
3  05-02-12  rainy    10

In [3]:
ws={
      "date":['01-02-12','03-02-12','04-02-12','05-02-12'],
      "event":['sunny','cold','cold','rainy'],
      "wind-speed":[12,10,9,14],
}
wind_speed=pd.DataFrame(ws)
wind_speed

       date  event  wind-speed
0  01-02-12  sunny          12
1  03-02-12   cold          10
2  04-02-12   cold           9
3  05-02-12  rainy          14

In [5]:
df=pd.merge(temp,wind_speed,on=['date','event'])
df

       date  event  temp  wind-speed
0  01-02-12  sunny    14          12
1  03-02-12   cold    16          10
2  04-02-12   cold    15           9
3  05-02-12  rainy    10          14

    If you have different data in the common columns then you can not do inner merge in this case.
    Assume the following case:
    
      temp                                
      ___________________
     | event  |   temp   |
     |--------|----------|
     | sunny  |   40     |
     | hot    |   30     |
     | rainy  |   25     |
     |________|__________|
     
     wind-speed
      ___________________
     | event  |wind-speed|
     |--------|----------|
     | sunny  |   12     |
     | hot    |   14     |
     | hot    |   11     |
     |________|__________|
     
     Merged Dataframe by inner method
     
      ________________________________
     | event  |   temp   | wind-speed |
     |--------|----------|------------|
     | sunny  |   40     |     12     | 
     | hot    |   30     |     14     |
     |________|__________|____________|
     
     You can see that last row is not merged here because there is no common element in the common columns.

### Outer join
This is just like union of two dataframe.The value which dont exist will contain NaN.                               
     

     temp                                
      ___________________
     | event  |   temp   |
     |--------|----------|
     | sunny  |   40     |
     | hot    |   30     |
     | rainy  |   25     |
     |________|__________|
     
     wind-speed
      ___________________
     | event  |wind-speed|
     |--------|----------|
     | sunny  |   12     |
     | hot    |   14     |
     | hot    |   11     |
     |________|__________|
     
     Merged Dataframe by inner method
     
      ________________________________
     | event  |   temp   | wind-speed |
     |--------|----------|------------|
     | sunny  |   40     |     12     | 
     | hot    |   30     |     14     |
     | rainy  |   25     |     NaN    |
     | hot    |   NaN    |     11     |
     |________|__________|____________|
     
     You can see in the final dataframe two rows increased.

In [8]:
temp1={
      "date":['01-02-12','03-02-12','04-02-12','05-02-12'],
      "event":['sunny','cold','hot','sunny'],
      "temp":[14,16,15,10]
}
temp=pd.DataFrame(temp1)
temp

       date  event  temp
0  01-02-12  sunny    14
1  03-02-12   cold    16
2  04-02-12    hot    15
3  05-02-12  sunny    10

In [7]:
ws={
      "date":['01-02-12','03-02-12','04-02-12','05-02-12'],
      "event":['sunny','cold','cold','rainy'],
      "wind-speed":[12,10,9,14],
}
wind_speed=pd.DataFrame(ws)
wind_speed

       date  event  wind-speed
0  01-02-12  sunny          12
1  03-02-12   cold          10
2  04-02-12   cold           9
3  05-02-12  rainy          14

##### One extra argument you need to pass in outer join i.e, how="outer".By defaut it is inner.

In [9]:
df=pd.merge(temp,wind_speed,on=['date','event'],how='outer')
df

       date  event  temp  wind-speed
0  01-02-12  sunny  14.0        12.0
1  03-02-12   cold  16.0        10.0
2  04-02-12    hot  15.0         NaN
3  05-02-12  sunny  10.0         NaN
4  04-02-12   cold   NaN         9.0
5  05-02-12  rainy   NaN        14.0